.stars-review {
    display: flex;
}

.stars-review .filled {
   color: black;
}

.stars-review .empty {
    color: white
}

#hidden-review {
    display: hidden;
}

#submit-review-button {
    background-color: red;
    color: white
}

#submit-review-not-valid {
    background-color: white;
}
