.all-reviews-grid {
    margin-left: 50px;
}

.review-name {
    margin-bottom: -10px
}

#post-review-button {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin-left: 50px;
    margin-right: 50px;
}

#post-review-button button{
    width: 150px;
    margin-right: 50px;
    margin-left: 0px;
    background-color: rgb(107, 104, 104);
    color: white;
    box-shadow: 3px 3px 3px black;
    cursor: pointer;
}

#delete-review-home {
    display: flex;
    margin-left: -368px;
}

#delete-review-home button{
    cursor: pointer;
    background-color: rgb(107, 104, 104);
    color: white;
    box-shadow: 3px 3px 3px black;
}
