.title-info {
    margin-left: 50px;
}

.spotId-container {
    margin-bottom: 10px;
}

#spotId-main-image {
    height: 300px;
    object-fit: cover;
    margin-right: 2px;
    border-radius: 15px 0px 0px 15px;
}

.more-image {
    height: 150px;
    width: 150px;
    object-fit: cover;
}

#top-right {
    border-radius: 0px 15px 0px 0px;
}

#bottom-right {
    border-radius: 0px 0px 15px 0px;
}

.image-container {
    display: flex;
    margin-left: 50px;
}

.image-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2px;
}

.description-container {
    display: flex;
    justify-content: space-between;
}

.left-description {
    margin-left: 50px;
}

.right-description {
    border: 1px solid black;
    margin-right: 115px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 10px;
    padding-left: 10px;
}

.price-star {
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

#reserve-button {
    margin-left: 100px;
    margin-right: 100px;
    padding-left: 60px;
    padding-right: 60px;
}
