.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100vh;
    padding: 0 20%;
    /* margin-left: 500px;
    margin-right: 500px; */
    margin-right: 50px;
}

.spot-form {
    max-width: 600px;
    /* width: 90% */
}

.top-section-labels {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-labels {
    display: flex;
    flex-direction: column;
}

#city-label {
    width: 50%
}

#state-label {
    width: 50%
}

.type-label {
    margin-right: 700px;
}

#ct-label {
    padding-right: 70px;
    margin-left: -30px
}

.city-state {
    display: flex;
    border-bottom: 2px solid grey;
    padding-bottom: 30px;
    gap: 10px;
}

.cs-labels {
    margin-right: 370px;
    margin-left: -30px;
}

#descrip-label {
    border-bottom: 2px solid grey;
    padding-bottom: 30px;
}

#name-label {
    border-bottom: 2px solid grey;
    padding-bottom: 30px;
}

#price-label {
    border-bottom: 2px solid grey;
    padding-bottom: 30px;
}

.img-link-box {
    display: flex;
    flex-direction: column;
}

.cushion {
    margin-bottom: 100px;
}

#spot-create {
    width: 119px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: red;
    color: white;
    box-shadow: 3px 3px 3px black;
    cursor: pointer;
}

.errors {
    color: red;
    display: flex;
    margin-top: 5px;
    margin-bottom: -5px;
}

#addy {
    margin-left: -50px;
}
