* {
    font-family: 'Nunito Sans', sans-serif;
    text-decoration: none;
    color: #53212B
}

.spots-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 100px;
    gap: 20px;
    /* z-index: 0; */
}

.ind-spot {
    /* border: 1px solid black; */
    padding-bottom: 10px;
    position: relative;
}

.review {
    display: flex;
    justify-content: flex-end;
}

#spot-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
}

.under-img {
    display: flex;
    justify-content: space-between;
}

#radiant-front {
    width: 30px;
    height: 25px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    width: 120px;
    background-color: grey;
    color: white;
    text-align: center;
    border-radius: 2px;
    padding-right: 5px;
    padding-left: 5px;
    top: 30%;
    left: 50%;
    transform: translateX(-50%)
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    border-style: solid;
    border-width: 5px;
    margin-left: -5px;
    border-color: transparent transparent grey transparent
}
