#profile-button {
    margin-left: -500px;
    margin-right:  80px;
    padding-left: 10px;
    padding-right: 10px;
}

.profile-dropdown {
    right: 1em
}

/* .new-spot-link {
    text-decoration: none;
} */
